<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Create A Top Notch Classifier
        </h1>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <button (click)="addClassDir()">Choose Data Directory</button>

      </div>
      <div class="col-6">
        <button (click)="train()">Train</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12"></div>
      {{classesDir}}
      <div class="train" *ngIf="training">
        training
      </div>

    </div>
  </div>
</div>

