<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Create A Top Notch Classifier
        </h1>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <button (click)="addClassDir()">Choose Data Directory</button>

      </div>
      <div class="col-6">
        <button (click)="train_1()" *ngIf="dataSetCreated">Train Stage 1 (Freezed layers)</button>
      </div>
    </div>
    <div class="row" *ngIf="train_1st_stage">
      <div class="col-6">
        <button (click)="train_unfreezed()">Train Unfreezed</button>
      </div>
    </div>
    <div class="row" *ngIf="train_1st_stage">
      <div class="col-6">
        <button (click)="predictOnePhoto()">Predict Photo</button>
      </div>
      <div class="col-6" *ngIf="photoSrc">
        <img [src]="photoSrc">
      </div>
    </div>
    <div class="row">
      <div class="col-6" *ngIf="photo_predictions">
        Prediction: {{photo_predictions["prediction"]}} <br>
        Probability: {{photo_predictions["prob"]}}
      </div>
    </div>
    <div class="row">
      <div class="col-12"></div>
      {{classesDir}}
      <div class="train" *ngIf="training">
        training
      </div>

    </div>
  </div>
</div>

