<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Create A Top Notch Classifier
        </h1>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" (click)="addClassDir()">Choose Data Directory</button>
            <button class="btn btn-secondary" (click)="train_1()" *ngIf="dataSetCreated">Train Stage 1 (Freezed layers)</button>
            <button class="btn btn-secondary" (click)="train_unfreezed()"*ngIf="train_1st_stage" >Train Unfreezed</button>
            <button class="btn btn-secondary" (click)="predictOnePhoto()" *ngIf="train_1st_stage">Predict Photo</button>
          </div>
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row" >
      <div class="col-6">
      </div>
    </div>
    <div class="row" >
      <div class="col-6">
      </div>
      <div class="col-6" *ngIf="photoSrc">
        <img [src]="photoSrc" width="350" >
      </div>
    </div>
    <div class="row">
      <div class="col-6" *ngIf="photo_predictions">
        Prediction: {{photo_predictions["prediction"]}} <br>
        Probability: {{photo_predictions["prob"]}}
      </div>
    </div>
    <div class="row">
      <div class="col-12"></div>
      {{classesDir}}
      <div class="train" *ngIf="training">
        training
      </div>

    </div>
  </div>
</div>

